.small-content{
    width: 250px;
}
.big-content{
    width: 500px;
    line-height: 1.2;
}
.small-content{
    width: 250px;
    line-height: 1.4;
}
.font-size-big{
    font-size: 2rem;
}
.font-size-small{
    font-size: 1rem;
}
.mt-2{
    margin-top: 20px;
}
.mb-2{
    margin-bottom: 20px;
}
.pd-lr-3{
    padding: 0px 30px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 12px;
    line-height: 1;
    font-family: Arial, sans-serif;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    color: #000;
}
:root {
    --black-text: #444444;
    --blue--hover: #3399cc;
    --border: #ddd;
}   
.body{
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.flex{
    display: flex;
}
.list-style-none{
    list-style: none;
}
.mr-2{
    margin-right: 20px;
}
.ml-3{
    margin-left: 30px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}