.small-content{
    width: 250px;
}
.big-content{
    width: 500px;
    line-height: 1.2;
}
.small-content{
    width: 250px;
    line-height: 1.4;
}
.font-size-big{
    font-size: 2rem;
}
.font-size-small{
    font-size: 1rem;
    line-height: 1.3;
}
.mt-2{
    margin-top: 20px;
}
.mb-2{
    margin-bottom: 20px;
}
.pd-lr-3{
    padding: 0px 30px;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-size: 12px;
    line-height: 1;
    font-family: Arial, sans-serif;
}
.clear{
    clear: both;
}
a{
    text-decoration: none;
    color: #000;
}
:root {
    --black-text: #444444;
    --blue--hover: #3399cc;
    --border: #ddd;
}   
.body{
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.flex{
    display: flex;
}
.list-style-none{
    list-style: none;
}
.mr-2{
    margin-right: 20px;
}
.ml-3{
    margin-left: 30px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}
.w-25{
    width: 25%;
}
.float-left{
    float: left;
}
.flex-wrap{
    flex-wrap: wrap;
}
.w-90{
    width: 90%;
}
.w-70{
    width: 70%;
}
.flex-end{
    display: flex;
    justify-content: end;
}
.h-none{
    height: none !important;
}
.w-185{
    width: 18.5%;
}
.flex-space-between{
    display: flex;
    justify-content: space-between;
}
.p-10{
    padding: 10px;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.h-100{
    height: 100%;
}
.flex-start{
    display: flex;
    justify-content: start;
}
.p-25{
    padding: 25px;
}
.font-weight{
    font-weight: bold;
}
.w-75{
    width: 75%;
}

.pb-20{
    padding-bottom: 20px;
}
.cover{
    object-fit: cover;
}
.font-size-09{
    font-size: 1em !important;
}
.border-none{
    border: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 25px;
}
.white{
    color: #ccc;
}
.text-center{
    text-align: center;
}
img{
    height: 100%;
    object-fit: cover;
}
.mr-0{
    margin-right: 0px !important;

}
.ml-0{
    margin-left: 0 !important;
}
.ml-2{
    margin-left: 20px;
}
.pl-2{
    padding-left: 20px;
}
.mt-0{
    margin-top: 0px;
}
.pt-0{
    padding-top: 0px;
}
.lh-13{
    line-height: 1.3;
}
.mr-1{
    margin-right: 10px;
}