
.zing-header{
    height: 52px;
    border-bottom: 1px var(--border) solid;
}
.zing-header .page-wrapper{
    width: 1025px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.zing-header .page-wrapper .logo{
    width: 100px;
}
.zing-header .page-wrapper .logo a{
    width: 100px;
    display: block;
    height: 30px;
    text-decoration: none;
    padding-top: 11px;
}
.zing-header .page-wrapper .logo span{
    display: block;
    font-size: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: var(--black-text);
    white-space: nowrap;
}
.zing-header .page-wrapper .logo img{
    display: block;
    font-size: 10px;
    height: 100%;
}
.zing-header .page-wrapper .navbar{
    width: 800px;
    height: 100%;
}
.zing-header .page-wrapper .navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.zing-header .page-wrapper .navbar ul li {
    list-style: none;
    text-align: center;
    height: 100%;
    float: left;
    margin-right: 24px;
}
.zing-header .page-wrapper .navbar ul li a{
    color: var(--black-text);
    text-decoration: none;
    font-size: 15px;
    height: 49px;
    width: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zing-header .page-wrapper .navbar ul li a:hover{
    color: var(--blue--hover);
    border-bottom: 3px var(--blue--hover) solid;
}
.zing-header .page-wrapper .navbar ul li:last-child a:hover{
    color: var(--black-text);
    border: none;
}
.zing-header .page-wrapper .search-user{
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zing-header .page-wrapper .search-user a{
    color: #444444;
}
.zing-header .page-wrapper .search-user .search, .user{
    width: 45%;
}
.zing-header .page-wrapper .search-user .search, .user{
    font-size: 22px;
}
.zing-header .page-wrapper .search-user a:hover{
    font-size: 22px;
    color: var(--blue--hover);
}
.page-wrapper{
    width: 1100px;
    margin: 10px auto;
    display: flex;
    height: 30px;
    align-items: center;
}
.page-wrapper .hashtag-trending{
    width: calc(100% - 300px);
}
.page-wrapper .weather{
    min-width: 300px;
    display: flex;
    justify-content: end;
    position: relative;
}
.page-wrapper .weather ul{
    display: flex;
    justify-content: right;
}
.page-wrapper .weather ul li{
    list-style: none;
    margin-right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 30px;
}
.page-wrapper .weather ul li:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: #fbc030;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.page-wrapper .weather ul li:nth-child(3) i{
    color: white;
    font-size: 20px;
}
.page-wrapper .hashtag-trending{
    width: calc(100% - 300px);
}
.page-wrapper .hashtag-trending ul{
    display: flex;
    justify-content: start;
}
.page-wrapper .hashtag-trending ul li{
    list-style: none;
    margin: 0px 12px;
    border-radius: 100px;
    background-color: #ddd;
    padding: 5px 10px;
    font-size: 14px;
}
.page-wrapper .hashtag-trending ul li:first-child{
    width: 25px;
    height: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(red, yellow);
}
.page-wrapper .hashtag-trending ul .item a{
    color: #000;
}
.page-wrapper .hashtag-trending ul .item:hover{
    color: #333;
    background: linear-gradient( #23a6d5, #23d5ab);
    color: #fff;
}
.page-wrapper .hashtag-trending ul .item:hover a{
    color: #fff;
}
.page-content{
    width: 1100px;
    margin: 40px auto;
}
.page-content .side-content{
    width: 330px;
}
 .item-inline{
    width: 100%;
    margin-right: 20px;
    display: flex;
    padding-bottom: 11px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 12px;
}
 .item-inline:last-child{
    border-bottom: none;
}
 .item-inline .thumnail{
    width: 120px;
    min-width: 120px;
    display: block;
    margin-right: 12px;
}
 .item-inline .thumnail a{
    width: 100%;
}
 .item-inline .thumnail a img{
    width: 100%;
}
 .item-inline .title{
    width: calc(100% - 132px);
    font-size: 16px;
    font-weight: 600;
}
 .item-inline .title a{
    line-height: 1.4;
}
.page-content .main-content{
    width: 770px;
    display: flex;
}
.page-content .main-content .content{
    margin-left: 20px;
}
.page-content .main-content .content .item{
    width: 100%;
}
.item .thumnail{
    width: 100%;
}
.item .thumnail-small{
    width: 100%;
    height: 166px;
}
.item .thumnail-small a{
    width: 100%;
}
.item .thumnail-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item .thumnail a{
    width: 100%;
}
.item .thumnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 8px;
}
.summary{
    display: block;
    font-size: 0.875rem;
    color: #444;
    line-height: 1.7
}
 .related{
    list-style: none;
    margin: 5px 0px;
}
.page-content .main-content .content .item .related li::before{
    content: '•';
    margin-right: 10px;
    color: #666;
    font-size: 1rem;
    line-height: 1.4;
}
.page-content .main-content .content .item .related li{
    font-weight: bold;
    font-size: 0.9rem;
}
.multimedia{
    background: #ffde76;
}
.header h3::before{
    content: '';
    width: 5px;
    background-color: #dd3333;
    transform: skew(-20deg);
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 2px;
}
.header h3{
    position: relative;
    padding: 0 15px 0 20px;
    margin: 10px 0px;
}
.page-content ul li{
    font-size: 14px;
    font-weight: bold;
}
.page-content ul li a:hover{
    color: #dd3333;
}
.book-header{
    padding-bottom: 9px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
}
.book-item{
    border-radius: 4px;
    overflow: hidden;
    border: 1px #ddd solid;
}
.glide-arrow{
    width: 32px;
    height: 32px;
    border: 1px #c8cbd0 solid;
    border-radius: 100px;
    background-color: #fff;
}
.glide-arrow a{
    color: #c8cbd0;
}
.left{
    top: 50%;
    left: -12.5px;
}
.right{
    top: 50%;
    right: -12.5px;
}
.box-mostview{
    background-color: #f4f4ef !important;
    width: calc(100% - 50px);
}
.box-view-image{
    width: 72px !important;
    min-width: 72px !important;
    height: 72px !important;
}
.category-parent{
    font-size: 10px;
    width: 100%;
    display: block;
    font-weight: 100;
    margin-top: 2px;
    margin-bottom: 5px;
}
.article-title{
    font-size: 13px;
    display: block;
    font-weight: bold;
    line-height: 1.4;
}
.box-mostread{
    margin-top: 25px;
    border: 1px #ddd solid;
    width: calc(100% - 51px);
}
.podcast{
    margin-top: 25px;
    background-color: #3d3b43;
}
.podcast-title{
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    color: #ccc;
}
.border-podcast{
    padding-bottom: 14px;
    border-bottom: 1px rgba(255,255,255,0.1) solid;
    margin-bottom: 15px;
}
.big-thumnail{
    width: 33% !important;
    min-width: 33% !important;
    margin-right: 15px;
}
.main-article-title{
    display: block;
    font-size: 22px;
}
.article-summary{
    font-size: 14px;
    line-height: 1.4;
    color: #888;
}
.border{
    padding-bottom: 14px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 14px;
}
.border-left{
    border-left: 1px #ddd solid;
}
.border-top{
    border-top: 2px solid #000;
}
.card{
    width: calc(25% - 25px);
    margin-right: 25px;
}
.box-category{
    margin-right: -25px;
}
.category-thumnail{
    min-width: 105px;
    height: 71px;
    object-fit: cover;
}
.category-thumnail-big{
    width: 100%;
    height: 177px;
    object-fit: cover;
}
.video-picked{
    width: 800px;
    height: 450px;
}
.side-bar{
    width: 300px;
    background-color: #eee;
    height: 430px;
    overflow: hidden;
}
.article-publish{
    color: #888;
    font-weight: 500;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
.side-bar-item{
    margin-bottom: 20px !important;
}
.magazine{
    margin-right: -25px;
}
.card{
    height: 435px;
    border-radius: 4px;
    overflow: hidden;
}
.magazine-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.magazine-image::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.9));
}
.magazine-content{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}
.album-type span{
    background-color: #ffde76;
    left: calc(50% - 40px);
    width: 80px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    padding: 3px 0px;
    font-weight: 700;
}
.summary-album{
    position: absolute;
    top: calc(50% + 20px);
    width: 100%;
    display: block;
}
.summary-album::before{
    content: '';
    background-color: #ffde76;
    width: 50px;
    position: absolute;
    height: 6px;
    top: calc(50% - 3px);
    left: calc(50% - 25px);
}
.summary-album p{
    left: calc(50% - 40px);
    width: 80px;
    text-align: center;
    border-radius: 0px 0px 4px 4px;
    padding: 3px 0px;
    font-weight: 700;
    width: 100%;
    color: white;
    z-index: 2;
}
footer{
    background-color: #f7f7f7;
}
.footer{
    font-size: 12px;
    line-height: 1.7;
    color: #888;
}
.justify-content-end{
    align-items: end;
}
