*{
    padding: 0;
    margin: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: #444444;
}
.flex-wrap{
    flex-wrap: wrap;
}
.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.flex{
    display: flex;
}
.bold{
    font-weight: bold;
}
.pt-2{
    padding-top: 20px;
}
.mt-2{
    margin-top: 20px;
}
.pd-2{
    padding: 20px 0px;
}
.pt-1{
   padding-top: 10px; 
}
.zing-header{
    max-width: 1100px;
    width: 90%;
    height: 52px;
    justify-content: space-between;
    margin: 0px auto;
}
.container{
    width: 100%;
}
.menu-mobile{
    line-height: 52px;
    display: none;
}
.logo{  
    width: 15%;
}
.logo img{
    min-width: 100px;
    height: 29px;
}
.logo a{
    font-size: 8px;
}
.navbar{    
    width: 80%;
    vertical-align: middle;
    line-height: 52px;
    justify-content: center;
}
.navbar ul li{
    margin-right: 24px;
    font-size: 14px;
    font-weight: bold;
}
.search-user{   
    width: 5%;
    font-size: 22px;
    line-height: 52px;
    display: flex;
    justify-content: end;
}
.search-user a{
    padding: 0px 10px;
    vertical-align: middle;
}
.widget-ticker{
    max-width: 1100px;
    width: 90%;
    margin: 0px auto;
}
.hashtag-trending{
    width: 70%;
    display: flex;
    justify-content: start;
}
.weather{
    display: flex;
    justify-content: end;
    position: relative;
}
.weather ul{
    display: flex;
    justify-content: right;
}
.weather ul li{
    list-style: none;
    margin-right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 30px;
}
.weather ul li:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: #fbc030;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.weather ul li:nth-child(3) i{
    color: white;
    font-size: 20px;
}
.weather .filter{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    display: flex;
    font-size: 0px;
}
.weather .filter i{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a99a9a;
    font-size: 0px;
}
.weather:hover .filter i{
    transform: scale(1);
    font-size: 10px;
    margin-left: 5px;
    transition: 0.5s;
    border: 2px #ddd solid;
    width: 13px;
    height: 13px;
}
.hashtag-trending{
    width: calc(100% - 300px);
}
.hashtag-trending ul{
    display: flex;
    justify-content: start;
}
.hashtag-trending ul li{
    list-style: none;
    margin-right: 20px;
    border-radius: 100px;
    background-color: #ddd;
    padding: 5px 10px;
    font-size: 14px;
}
.hashtag-trending ul li:first-child{
    width: 25px;
    height: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(red, yellow);
}
.hashtag-trending ul .item a{
    color: #000;
}
.hashtag-trending ul .item:hover{
    color: #333;
    background: linear-gradient( #23a6d5, #23d5ab);
    color: #fff;
}
.hashtag-trending ul .item:hover a{
    color: #fff;
}
.section-featured{
    max-width: 1100px;
    margin: 0px auto;
    width: 90%;
}
.side-content{
    width: 30%;
}
.thumnail-feature{
    width: 40%;
}
.title{
    width: 55%;
    font-weight: bold;
}
.item{
    justify-content: space-between;
}
.border{
    padding-bottom: 9px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 10px;
}
.item:last-child{
    border: none;
}
.main-content{
    width: 70%;
}
.main-content .item:first-child{
    width: calc(60% - 20px);
}
.main-content .item:first-child .title{
    font-size: 32px;
}
.main-content .item{
    width: calc(40% - 20px);
    margin-left: 20px;
    float: left;
}
.main-content .item .title{
    width: 100%;
    font-size: 16px;
}
.multimedia{
    max-width: 1100px;
    padding: 0px 30px;
    width: 90%;
    margin: 0px auto;
    background-color: #fbc030;
}
.multimedia .header ul {
    align-items: center;
}
.multimedia .header ul li{
    margin-right: 30px;
    padding: 10px 0px;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
}
.multimedia .header ul li:first-child{
    font-size: 20px;
}
.multimedia .header ul li a{
    vertical-align: middle;
}
.multimedia .section-content{
    width: 100%;
    display: inline-block;
}
.multimedia .section-content .item{
    float: left;
    width: calc(25% - 20px);
    margin-left: 20px;
}
.multimedia .section-content .item:first-child{
    width: 50%;
    margin-left: 0;
}
.books{
    max-width: 1100px;
    width: 90%;
    margin: 0px auto;
    position: relative;
}
.clear{
    clear: both;
}
.glide-arrow{
    display: block;
    position: absolute;
    background-color: #fff;
    border: #a99a9a 1px solid;
    color: black;
    width: 31px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    top: 50%;
}
.left{
    left: -16px;
}
.right{
    right: -16px;
}
.book-list{
    justify-content: space-between;
    flex-shrink: 0;
    overflow: hidden;
}
.book-item{
    width: 19%;
    border-radius: 5px;
    border: 1px #ddd solid;
    overflow: hidden;
    height: auto;
}
.book-item .title{
    width: calc(100% - 20px);
    padding: 10px 10px 10px 10px;
}
.section-latest{
    max-width: 1100px;
    margin: 0px auto;
    width: 90%;
}
.article-list{
    width: 70%;
}
.article-item-inline{
    display: flex;
}
.article-item-inline .thumnail{
    width: 35%;
}
.article-item-inline .article{
    width: 65%;
    padding: 10px;
}
.article-item-inline .article a{
    font-size: 21px;
    display: block;
    font-weight: bold;
}
.article-item-inline .article span{
    font-size: 14.4px;
    font-weight: bold;
    color: #888;
}
.side-bar{
    width: calc(35% - 20px);
    margin-left: 20px;
}
.side-bar .box-mostview{
    padding: 25px;
    background-color: #f4f4ef;
}
.side-bar .box-mostview .header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.box-mostview-item{
    display: flex;
    margin: 15px 0px;
}
.box-mostview-item .thumnail{
    width: 75px;
    height: 75px;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
}
.box-mostview-item .thumnail img{
    width: 100%;
}
.box-mostview-item .book-title{
    width: calc(100% - 95px);
    padding: 5px 10px;
}
.box-mostview-item .book-title span{
    display: block;
    font-size: 10px;
}
.box-mostview-item .book-title a{
    font-weight: bold;
    font-size: 14.4px;
}
.side-bar .box-mostread{
    border: 1px solid #ddd; 
    padding: 25px;
    margin-top: 50px;
    border-radius: 4px;
}
.side-bar .box-mostread .header{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.box-mostread-item{
    display: flex;
    margin: 15px 0px;
}
.box-mostread-item .thumnail{
    width: 75px;
    height: 75px;
    border-radius: 4px;
    overflow: hidden;
    object-fit: cover;
}
.box-mostread-item .book-title{
    width: calc(100% - 95px);
    padding: 5px 10px;
}
.box-mostread-item .book-title span{
    display: block;
    font-size: 10px;
}
.box-mostread-item .book-title a{
    font-weight: bold;
    font-size: 14.4px;
}
.podcast{
    background-color: #3d3b43;
    margin-top: 50px;
    padding: 25px;
}
.podcast .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.podcast .header img{
    width: 120px;
    margin-bottom: 25px;
}
.podcast-item-inline-picked{
    margin: 15px 0px;
}
.podcast-item-inline-picked .book-title{
    text-align: center;
}
.podcast-item-inline-picked .book-title a{
    color: #fff;
}
.podcast-item-inline{
    display: flex;
    margin: 15px 0px;
}
.podcast-item-inline .thumnail{
    width: 72px;
    height: 49px;
    display: block;
    border-radius: 4px;
}
.podcast-item-inline .thumnail img{
    width: 100%;
}
.podcast-item-inline .book-title{
    width: calc(100% - 92px);
    padding: 5px 10px;  
}
.podcast-item-inline .book-title a{
    color: #fff;
    font-size: 13px;
    font-weight: bold;
}
.section-lifestyle .main-content{
    order: 1;
}
.section-lifestyle .main-content .item{
    margin-left: 0px;
    margin-right: 20px;
}
.section-lifestyle .side-content{
    order: 2;
    width: calc(30% - 11px);
    border-left: 1px solid #ddd;
    padding-left: 10px;
}
.section-lifestyle .side-content .item{
    padding: 10px 0px;
}
.section-lifestyle .side-content .item .thumnail{
    width: 72px;
    height: 72px;
    border-radius: 4px;
    overflow: hidden;
    order: 2;
}
.section-lifestyle .side-content .item .thumnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-lifestyle .side-content .item .title{
    order: 1;
    width: calc(100% - 82px);
}
.box-category{
    max-width: 1100px;
    width: 90%;
    margin: 0px auto;
}
.box-category .container{
    width: 100%;
    margin-top: 20px;
    justify-content: space-between;
}
.box-category .card{
    width: 23%;
}
.category-thumnail-big{
    width: 100%;
    height: 166px;
}
.category-thumnail-big img{
    height: 166px;
    object-fit: cover;
}
.box-category .title{
    margin-top: 15px;
    width: 100%;
}
.category-thumnail{
    width: 100%;
}
.card .item-align .category-thumnail{
    width: 105px;
    height: 70px;
}
.card .item-align .title{
    width: calc(100% - 115px);
    padding-left: 10px;
    margin-top: 0px;
    font-size: 0.9em;
}
.footer-zing{
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-zing .logo{
    width: 100%;
}
.footer-zing .desc{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 0.85em;
}
.footer-1{
    width: 50%;
}
.footer-2{
    width: 50%;
    display: flex;
    justify-content: end;
}
