
.zing-header{
    height: 52px;
    border-bottom: 1px var(--border) solid;
}
.zing-header .page-wrapper{
    width: 1025px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.zing-header .page-wrapper .logo{
    width: 100px;
}
.zing-header .page-wrapper .logo a{
    width: 100px;
    display: block;
    height: 30px;
    text-decoration: none;
    padding-top: 11px;
}
.zing-header .page-wrapper .logo span{
    display: block;
    font-size: 7px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: var(--black-text);
    white-space: nowrap;
}
.zing-header .page-wrapper .logo img{
    display: block;
    font-size: 10px;
    height: 100%;
}
.zing-header .page-wrapper .navbar{
    width: 800px;
    height: 100%;
}
.zing-header .page-wrapper .navbar ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.zing-header .page-wrapper .navbar ul li {
    list-style: none;
    text-align: center;
    height: 100%;
    float: left;
    margin-right: 24px;
}
.zing-header .page-wrapper .navbar ul li a{
    color: var(--black-text);
    text-decoration: none;
    font-size: 15px;
    height: 49px;
    width: auto;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zing-header .page-wrapper .navbar ul li a:hover{
    color: var(--blue--hover);
    border-bottom: 3px var(--blue--hover) solid;
}
.zing-header .page-wrapper .navbar ul li:last-child a:hover{
    color: var(--black-text);
    border: none;
}
.zing-header .page-wrapper .search-user{
    width: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.zing-header .page-wrapper .search-user a{
    color: #444444;
}
.zing-header .page-wrapper .search-user .search, .user{
    width: 45%;
}
.zing-header .page-wrapper .search-user .search, .user{
    font-size: 22px;
}
.zing-header .page-wrapper .search-user a:hover{
    font-size: 22px;
    color: var(--blue--hover);
}
.page-wrapper{
    width: 1100px;
    margin: 10px auto;
    display: flex;
    height: 30px;
    align-items: center;
}
.page-wrapper .hashtag-trending{
    width: calc(100% - 300px);
}
.page-wrapper .weather{
    min-width: 300px;
    display: flex;
    justify-content: end;
    position: relative;
}
.page-wrapper .weather ul{
    display: flex;
    justify-content: right;
}
.page-wrapper .weather ul li{
    list-style: none;
    margin-right: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    height: 30px;
}
.page-wrapper .weather ul li:nth-child(3){
    width: 30px;
    height: 30px;
    background-color: #fbc030;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.page-wrapper .weather ul li:nth-child(3) i{
    color: white;
    font-size: 20px;
}
.page-wrapper .weather .filter{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    display: flex;
    font-size: 0px;
}
.page-wrapper .weather .filter i{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a99a9a;
    font-size: 0px;
}
.page-wrapper .weather:hover .filter i{
    transform: scale(1);
    font-size: 10px;
    margin-left: 5px;
    transition: 0.5s;
    border: 2px #ddd solid;
    width: 13px;
    height: 13px;
}
.page-wrapper .hashtag-trending{
    width: calc(100% - 300px);
}
.page-wrapper .hashtag-trending ul{
    display: flex;
    justify-content: start;
}
.page-wrapper .hashtag-trending ul li{
    list-style: none;
    margin: 0px 12px;
    border-radius: 100px;
    background-color: #ddd;
    padding: 5px 10px;
    font-size: 14px;
}
.page-wrapper .hashtag-trending ul li:first-child{
    width: 25px;
    height: 25px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: linear-gradient(red, yellow);
}
.page-wrapper .hashtag-trending ul .item a{
    color: #000;
}
.page-wrapper .hashtag-trending ul .item:hover{
    color: #333;
    background: linear-gradient( #23a6d5, #23d5ab);
    color: #fff;
}
.page-wrapper .hashtag-trending ul .item:hover a{
    color: #fff;
}
.page-content{
    width: 1100px;
    margin: 40px auto;
}
.page-content .side-content{
    width: 330px;
}
 .item-inline{
    width: 100%;
    margin-right: 20px;
    display: flex;
    padding-bottom: 11px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 12px;
}
 .item-inline:last-child{
    border-bottom: none;
}
 .item-inline .thumnail{
    width: 120px;
    min-width: 120px;
    display: block;
    margin-right: 12px;
}
 .item-inline .thumnail a{
    width: 100%;
}
 .item-inline .thumnail a img{
    width: 100%;
}
 .item-inline .title{
    width: calc(100% - 132px);
    font-size: 16px;
    font-weight: 600;
}
 .item-inline .title a{
    line-height: 1.4;
}
.page-content .main-content{
    width: 770px;
    display: flex;
}
.page-content .main-content .content{
    margin-left: 20px;
}
.page-content .main-content .content .item{
    width: 100%;
}
.item .thumnail{
    width: 100%;
}
.item .thumnail-small{
    width: 100%;
    height: 166px;
}
.item .thumnail-small a{
    width: 100%;
}
.item .thumnail-small img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item .thumnail a{
    width: 100%;
}
.item .thumnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title{
    font-weight: 600;
    padding-top: 15px;
    margin-bottom: 8px;
}
.summary{
    display: block;
    font-size: 0.875rem;
    color: #444;
    line-height: 1.7
}
 .related{
    list-style: none;
    margin: 5px 0px;
}
.page-content .main-content .content .item .related li::before{
    content: '•';
    margin-right: 10px;
    color: #666;
    font-size: 1rem;
    line-height: 1.4;
}
.page-content .main-content .content .item .related li{
    font-weight: bold;
    font-size: 0.9rem;
}
.multimedia{
    background: #ffde76;
}
.header h3::before{
    content: '';
    width: 5px;
    background-color: #dd3333;
    transform: skew(-20deg);
    position: absolute;
    left: 5px;
    top: 2px;
    bottom: 2px;
}
.header h3{
    position: relative;
    padding: 0 15px 0 20px;
    margin: 10px 0px;
}
.page-content ul li{
    font-size: 14px;
    font-weight: bold;
}
.page-content ul li a:hover{
    color: #dd3333;
}
.book-header{
    padding-bottom: 9px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
}
.book-item{
    border-radius: 4px;
    overflow: hidden;
    border: 1px #ddd solid;
}
.glide-arrow{
    width: 32px;
    height: 32px;
    border: 1px #c8cbd0 solid;
    border-radius: 100px;
    background-color: #fff;
}
.glide-arrow a{
    color: #c8cbd0;
}
.left{
    top: 50%;
    left: -12.5px;
}
.right{
    top: 50%;
    right: -12.5px;
}
.box-mostview{
    background-color: #f4f4ef !important;
    width: calc(100% - 50px);
}
.box-view-image{
    width: 72px !important;
    min-width: 72px !important;
    height: 72px !important;
}
.category-parent{
    font-size: 10px;
    width: 100%;
    display: block;
    font-weight: 100;
    margin-top: 2px;
    margin-bottom: 5px;
}
.article-title{
    font-size: 13px;
    display: block;
    font-weight: bold;
    line-height: 1.4;
}
.box-mostread{
    margin-top: 25px;
    border: 1px #ddd solid;
    width: calc(100% - 51px);
}
.podcast{
    margin-top: 25px;
    background-color: #3d3b43;
}
.podcast-title{
    font-size: 13px;
    font-weight: 600;
    line-height: 1.4;
    color: #ccc;
}
.border-podcast{
    padding-bottom: 14px;
    border-bottom: 1px rgba(255,255,255,0.1) solid;
    margin-bottom: 15px;
}
.big-thumnail{
    width: 33% !important;
    min-width: 33% !important;
    margin-right: 15px;
}
.main-article-title{
    display: block;
    font-size: 22px;
}
.article-summary{
    font-size: 14px;
    line-height: 1.4;
    color: #888;
}
.border{
    padding-bottom: 14px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 14px;
}
.border-left{
    border-left: 1px #ddd solid;
}
.border-top{
    border-top: 2px solid #000;
}
.card{
    width: calc(25% - 25px);
    margin-right: 25px;
}
.box-category{
    margin-right: -25px;
}
.category-thumnail{
    min-width: 105px;
    height: 71px;
    object-fit: cover;
}
.category-thumnail-big{
    width: 100%;
    height: 177px;
    object-fit: cover;
}
.video-picked{
    width: 800px;
    height: 450px;
}
.side-bar{
    width: 300px;
    background-color: #eee;
    height: 430px;
    overflow: hidden;
}
.article-publish{
    color: #888;
    font-weight: 500;
    font-size: 15px;
    display: block;
    margin-top: 5px;
}
.side-bar-item{
    margin-bottom: 20px !important;
}

/* .section-featured{
    width: 1000px;
    margin: 0px auto;
}
.section-featured .section-content{
    width: 100%;
}
.section-featured .section-content .newsfeatured{
    width: 300px;
    float: left;
}
.section-featured .section-content .newsfeatured .item{
    width: 100%;
    display: flex;
    border-bottom: 1px var(--border) solid;
    padding: 10px 0px;
}
.section-featured .section-content .newsfeatured .item:last-child{
    border: none;
}
.section-featured .section-content .newsfeatured .item .img{
    width: 120px;
    height: 80px;
    margin-right: 16px;
}
.section-featured .section-content .newsfeatured .item .img img{
    width: 120px;
}
.section-featured .section-content .newsfeatured .item p{
    width: 148px;
    margin-right: 16px;
    font-size: 100%;
    font-weight: 700;
}
.section-featured .section-content .newstrending{
    width: 680px;
    float: right;
    display: flex;
}
.section-featured .section-content .newstrending .main{
    width: 400px;
    padding: 10px 20px;
}
.section-featured .section-content .newstrending .main a{
    width: 100%;
    color: #000;
}
.section-featured .section-content .newstrending .main a img{
    width: 100%;
}
.section-featured .section-content .newstrending .main a h2{
    width: 100%;
    padding: 16px 0px;
}
.section-featured .section-content .newstrending .main p{
    color: #444;
    line-height: 1.4;
}
.section-featured .section-content .newstrending .main .list{
    padding: 10px;
}
.section-featured .section-content .newstrending .side{
    width: 260px;
    float: right;
    padding-top: 10px;
}
.section-featured .section-content .newstrending .side .item{
    width: 100%;
    margin-bottom: 20px;
}
.section-featured .section-content .newstrending .side .item a{
    width: 100%;
    padding-bottom: 10px;
}
.section-featured .section-content .newstrending .side .item a img,p{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
}
.section-multimedia{
    width: 1060px;
    margin: 0px auto;
    background-color: #ffde76;
    padding: 20px 0px;
}
.section-multimedia .content{
    width: 1000px;
    margin: 0px auto;
}
.section-multimedia .content h3::before{
    color: red;
    font-weight: 700;
    
}
.section-multimedia .content .header h3{
    font-size: 22px;
    font-weight: 600;
}
.section-multimedia .content .header {
    display: flex;
    align-items: center;
    padding: 20px 0px;
}
.section-multimedia .content .header  ul {
    display: flex;
    margin-left: 30px;
}
.section-multimedia .content .header  ul li{
    list-style: none;
    margin-right: 30px;
    font-weight: 600;
}
.section-multimedia .content .body{
    width: 1000px;
    margin: 0px auto;
    display: flex;
}
.section-multimedia .content .body .main{
    width: 490px;
}
.section-multimedia .content .body .main .item{
    width: 100%;
}
.section-multimedia .content .body .main .item a{
    width: 100%;
}
.section-multimedia .content .body .main .item a img{
    width: 100%;
}
.section-multimedia .content .body .main .item h3{
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0px;
}
.section-multimedia .content .body .main .item h3 i{
    color: #6d6d6d;
    margin-right: 10px;
}
.section-multimedia .content .body .main .item p{
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
}
.section-multimedia .content .body .side{
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}
.section-multimedia .content .body .side .item{
    width: 235px;
    margin-left: 20px;
}
.section-multimedia .content .body .side .item a{
    width: 100%;
}
.section-multimedia .content .body .side .item a img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.section-multimedia .content .body .side .item h3{
    margin: 8px 0px;
}
.section-publish{
    width: 1000px;
    margin: 20px auto;
}
.section-publish .header{
    width: 100%;
    border-bottom: 1px var(--border) solid;
    padding: 20px 0px 0px;
}
.section-publish .header h2{
    padding: 20px;
}
.section-publish .main{
    width: 100%;
    position: relative
}
.section-publish .main .cards{
    margin: 10px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.section-publish .main .cards .card{
    width: 190px;
    border: 1px var(--border) solid;
    border-radius: 10px;
}
.section-publish .main .cards .card img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.section-publish .main .cards .card p{
    display: block;
    width: 170px;
    font-size: 1em;
    padding: 0px 10px;
}
.section-publish .main .left{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: -11px;
    background-color: white;
}
.section-publish .main .right{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 100px;
    border: 1px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    right: -11px;
    background-color: white;
}
.section-publish .main i{
    color: black;
}
.section-latest{
    width: 1000px;
    margin: 0px auto;
    display: flex;
}
.section-latest .article-list{
    width: 710px;
    margin-right: 20px;
}
.section-latest .article-list .item{
    width: 100%;
    display: flex;
    padding: 14px 0px;
    border-bottom: 1px #ddd solid;
}
.section-latest .article-list .item:last-child{
    border: none;
}
.section-latest .article-list .item .images{
    width: 33%;
    margin-right: 15px;
}
.section-latest .article-list .item a{
    width: 100%;
}
.section-latest .article-list .item a img{
    width: 100%;
    object-fit: cover;
}
.section-latest .article-list .item .content{
    width: 60%;
}
.section-latest .article-list .item .content a{
    letter-spacing: 0;
    line-height: 1.3;
}
.section-latest .article-list .item .content p{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.7;
    margin-top: 15px;
    color: #6d6d6d;
}
.section-sidebar{
    width: 270px;
}
.section-sidebar .box-mostview{
    margin-bottom: 25px;
    background-color: #f4f4ef;
    width: 270px;
    padding: 25px;
}
.section-sidebar .header{

}
.section-sidebar .section-content{
    margin-top: 15px;
}
.section-sidebar .section-content .item{
    display: flex;
    margin-bottom: 25px;
}
.section-sidebar .section-content .item .images{
    width: 72px;
    height: 72px;
    margin-right: 12px;
}
.section-sidebar .section-content .item .images img{
    width: 72px;
    height: 72px;
    object-fit: cover;
}
.section-sidebar .section-content .item .content span{
    font-size: 10px;
}
.section-sidebar .section-content .item .content h3{
    font-size: 14px;
}
.section-sidebar .section-content .item .content h3:hover{
    color: #006BA0;
}
.mostread24h{
    background-color: white !important;
    border: 1px #ddd solid;
}
.podcast{
    background-color: #2F2F3F !important;
}
.section-sidebar .header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-sidebar .header img{
    width: 120px;
}
.section-sidebar .section-content .big-item .images{
    width: 100%;
}
.section-sidebar .section-content .big-item .images a img{
    width: 100%;
}
.section-sidebar .section-content .big-item .titel{
    text-align: center;
}
.section-sidebar .section-content .big-item .titel a{
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    line-height: 1.38;
}
.section-sidebar .section-content .big-item{
    margin-bottom: 15px;
}
.section-sidebar .section-content .item{
    padding-top: 15px;
    border-top: 1px rgba(255,255,255,0.1) solid;
}
.section-sidebar .section-content .item .titel a{
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}
.section-lifestyle{
    width: 1000px;
    margin: 0px auto;
}
.section-lifestyle .header{
    padding: 10px 25px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
}
.content-left{
    float: left !important;
}
.content-right{
    float: right !important;
}
.section-featured .header{
    padding: 10px 25px;
    border-bottom: 1px #ddd solid;
    margin-bottom: 20px;
}
.section-featured .section-content .content-left .main{
    padding: 0px;
    width: 490px;
    margin-right: 20px;
}
.section-featured .section-content .content-left .side{
    padding: 0;
    width: 235px;
    margin-right: 20px;
}
.section-featured .section-content .content-right .item{
    justify-content: end !important;
}
.section-featured .section-content .content-right .item a{
    margin-right: 0px !important;
} */